# Credit Risk Resampling Techniques

In [41]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

# Read the CSV and Perform Basic Data Cleaning

In [43]:
# Load the data
file_path = Path('Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()
#df.describe()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

# Split the Data into Training and Testing

In [74]:
# Create features by exluding loan status
x_cols = [i for i in df.columns if i not in ("loan_status")]
X = df[x_cols]

# Create target with loan status
y = df.loan_status.to_frame()
print(x_cols)

['loan_size', 'interest_rate', 'homeowner', 'borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks', 'total_debt']

In [51]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [52]:
X.homeowner.value_counts()

mortgage    38572
own         30930
rent         8034
Name: homeowner, dtype: int64

In [75]:
#Apply Standard Scaler on all non categoric columns i.e. all except Homeownder

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
features=list(X.columns.values)
original=features
features.remove('homeowner')
ct = ColumnTransformer([
        ('somename', StandardScaler(), features)
    ], remainder='passthrough')

X_scaled=ct.fit_transform(X)

features.append('homeowner')

X_scaled = pd.DataFrame(data=X_scaled,columns=features)
X_scaled.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner
0,0.427304,0.426837,0.427404,0.668571,0.616143,1.044,0.427404,own
1,-0.671487,-0.674918,-0.671552,-0.802166,-0.434049,-0.673973,-0.671552,own
2,-0.384846,-0.370249,-0.372922,-0.344424,-0.434049,-0.673973,-0.372922,rent
3,0.427304,0.417844,0.415459,0.655346,0.616143,1.044,0.415459,own
4,0.475078,0.456068,0.451295,0.694873,0.616143,1.044,0.451295,mortgage

In [76]:
# Complete one hot encoding for Categorical variables in Homeowner column
X=pd.get_dummies(X, columns=["homeowner"])
#X.head()

#Simimarly complete scaling for X_Scaled
X_scaled=pd.get_dummies(X_scaled, columns=["homeowner"])
X_scaled.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner_mortgage,homeowner_own,homeowner_rent
0,0.427304,0.426837,0.427404,0.668571,0.616143,1.044,0.427404,0,1,0
1,-0.671487,-0.674918,-0.671552,-0.802166,-0.434049,-0.673973,-0.671552,0,1,0
2,-0.384846,-0.370249,-0.372922,-0.344424,-0.434049,-0.673973,-0.372922,0,0,1
3,0.427304,0.417844,0.415459,0.655346,0.616143,1.044,0.415459,0,1,0
4,0.475078,0.456068,0.451295,0.694873,0.616143,1.044,0.451295,1,0,0

In [77]:
y.head()

  loan_status
0    low_risk
1    low_risk
2    low_risk
3    low_risk
4    low_risk

In [9]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [86]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,stratify=y)

X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled = train_test_split(X_scaled, y, random_state=1,stratify=y)

# Simple Logistic Regression

In [87]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

model_scaled=LogisticRegression(solver='lbfgs', random_state=1)
model_scaled.fit(X_train_scaled,y_train_scaled)

LogisticRegression(random_state=1)

In [84]:
# Calculated the balanced accuracy score for unscaled model
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9543211898288821

In [92]:
# Calculated the balanced accuracy score for scaled model
from sklearn.metrics import balanced_accuracy_score
y_pred_scaled = model_scaled.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred_scaled)

0.9892813049736127

In [93]:
X_test_scaled.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner_mortgage,homeowner_own,homeowner_rent
37214,0.809492,0.8147,0.80965,1.06686,0.616143,1.044,0.80965,0,1,0
2791,-0.050431,-0.0734495,-0.074293,0.0662245,0.0910466,-0.673973,-0.074293,1,0,0
75901,3.38926,3.39483,3.38981,2.8961,3.24162,2.76196,3.38981,0,1,0
70752,0.379531,0.381868,0.379624,0.615365,0.616143,1.044,0.379624,1,0,0
54071,0.713945,0.723637,0.726034,0.983672,0.616143,1.044,0.726034,1,0,0

In [94]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  571,    54],
       [   93, 18666]], dtype=int64)

In [81]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.91      1.00      0.89      0.95      0.90       625
   low_risk       1.00      1.00      0.91      1.00      0.95      0.92     18759

avg / total       0.99      0.99      0.92      0.99      0.95      0.92     19384

In [95]:
# Print the imbalanced classification report for the scaled dataset
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred_scaled))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.98      0.99      0.92      0.99      0.98       625
   low_risk       1.00      0.99      0.98      1.00      0.99      0.98     18759

avg / total       0.99      0.99      0.98      0.99      0.99      0.98     19384

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [44]:
# Resample the training data with the RandomOversampler

from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)
Counter(y_train)

Counter({'loan_status': 1})

In [46]:
y_train.loan_status.value_counts()

low_risk     56277
high_risk     1875
Name: loan_status, dtype: int64

In [47]:
y_resampled.loan_status.value_counts()

high_risk    56277
low_risk     56277
Name: loan_status, dtype: int64

In [37]:
# Train the Logistic Regression model using the resampled data
model1 = LogisticRegression(solver='lbfgs', random_state=1)
model1.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [38]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred_ROS = model1.predict(X_test)
balanced_accuracy_score(y_test, y_pred_ROS)

0.9947746894823818

In [39]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred_ROS)

array([[  622,     3],
       [  106, 18653]], dtype=int64)

In [49]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_ROS))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

### SMOTE Oversampling

In [50]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_SMOTE,y_SMOTE=SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train,y_train)

In [51]:
# Train the Logistic Regression model using the resampled data
model2 = LogisticRegression(solver='lbfgs', random_state=1)
model2.fit(X_SMOTE, y_SMOTE)

LogisticRegression(random_state=1)

In [52]:
# Calculated the balanced accuracy score
y_pred_SMOTE = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred_SMOTE)

0.9543211898288821

In [53]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred_SMOTE)

array([[  571,    54],
       [   93, 18666]], dtype=int64)

In [54]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_SMOTE))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.91      1.00      0.89      0.95      0.90       625
   low_risk       1.00      1.00      0.91      1.00      0.95      0.92     18759

avg / total       0.99      0.99      0.92      0.99      0.95      0.92     19384

# Undersampling

In this section, you will test an undersampling algorithms to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [55]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids

In [57]:
# Train the Logistic Regression model using the resampled data
cc=ClusterCentroids(random_state=1)
X_cc,y_cc=cc.fit_resample(X_train,y_train)
Counter(y_cc)
y_cc.loan_status.value_counts()

high_risk    1875
low_risk     1875
Name: loan_status, dtype: int64

In [58]:
model3=LogisticRegression(random_state=1)
model3.fit(X_cc,y_cc)

LogisticRegression(random_state=1)

In [59]:
# Calculated the balanced accuracy score
y_cc = model3.predict(X_test)
balanced_accuracy_score(y_test, y_cc)

0.9828813049736127

In [60]:
# Display the confusion matrix
confusion_matrix(y_test,y_cc)

array([[  607,    18],
       [  102, 18657]], dtype=int64)

In [61]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_cc))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.97      0.99      0.91      0.98      0.96       625
   low_risk       1.00      0.99      0.97      1.00      0.98      0.97     18759

avg / total       0.99      0.99      0.97      0.99      0.98      0.97     19384

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [65]:
# Resample the training data with SMOTEENN
from imblearn.combine import SMOTEENN
sm=SMOTEENN(random_state=1)

In [70]:
# Train the Logistic Regression model using the resampled data
X_SMOTEENN,y_SMOTEENN=sm.fit_resample(X_train,y_train)
model4=LogisticRegression(random_state=1)
model4.fit(X_SMOTEENN,y_SMOTEENN)

LogisticRegression(random_state=1)

In [71]:
# Calculated the balanced accuracy score
y_pred_SMOTEENN = model4.predict(X_test)
balanced_accuracy_score(y_test, y_pred_SMOTEENN)

0.994748035609574

In [72]:
# Display the confusion matrix
confusion_matrix(y_test,y_pred_SMOTEENN)

array([[  622,     3],
       [  107, 18652]], dtype=int64)

In [74]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_SMOTEENN))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

Completed SMOTEENN,SMOTE and RANDOM UNDER and OVERSAMPLING